server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: compte-service
          uri: lb://COMPTE-SERVICE
          predicates:
            - Path=/comptes/**
        - id: transaction-service
          uri: lb://TRANSACTION-SERVICE
          predicates:
            - Path=/transactions/**
        - id: reporting-service
          uri: lb://REPORTING-SERVICE
          predicates:
            - Path=/reporting/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
